In [5]:
a = 10.8
b = 20
name = "Sneha Dwivedi"
city = "Lucknow"

# operators
- arithmetic
- assignment
- comparison
- logical
- membership
- identity

#arithmetic operators

In [6]:
x=10
y=6
print(x+y) # addition
print(x-y) # subtraction
print(x*y) # multiplication
print(x/y) # division
print(x//y) # floor division
print(x%y) # remainder
print(x**y) # x to the power y

16
4
60
1.6666666666666667
1
4
1000000

In [8]:
a = 10
b = a + 20
c = a + b
c = c + 30
c += 10
print(c)
print(b)
print(a)

80
30
10

#comparison operators

In [9]:
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)
print(a==b)

False
True
False
True
True
False

In [14]:
name = "sneha"
print("h" in name)
print("v" in name)
print("Z" in name)
nums = [10,20,30,40,50]
print(10 in nums )
print(100 in nums)

True
False
False
True
False

In [15]:
# is (identity operator)
x=10
y=10
print(x is y)

nums=[10,20,30]
nums2 = nums.copy()
print(nums is nums2)

True
False