In [3]:
# for loop
fruits = ['Apple','Mango','Banana','Orange','Kiwi','Grapes','Papaya']
for x in fruits:
    print(x)

Apple
Mango
Banana
Orange
Kiwi
Grapes
Papaya

In [8]:
a = "Hello World"
for x in a:
    print(x, end = "")

Hello World

In [15]:
for i in range (11):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9 10

In [27]:
for sneha in range (5):
    print("sneha")

sneha
sneha
sneha
sneha
sneha

In [30]:
for i in range(1,21,3):
    print(i)

1
4
7
10
13
16
19

In [42]:
for i in range(2,31,2):
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30

In [52]:
for i in range (31):
    if i%2 != 0:
        print(i, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [58]:
# while loop
i = 0
while i<=20:
    print(i, end = " ")
    i+=1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [67]:
i = 0
while i<=4:
    print("I can do it.")
    i+=1

I can do it.
I can do it.
I can do it.
I can do it.
I can do it.

In [69]:
a = 15
for i in range (1,11):
    print(f'{a} * {i} = {a*i}')

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [8]:
a = [2,4,6,8,10,12,14,16,17,18,20]
for i in a:
    if i == 17:
        break
    print(i)

2
4
6
8
10
12
14
16

In [9]:
a = [2,4,6,8,10,12,14,16,17,18,20]
for i in a:
    if i == 17:
        continue
    print(i)

2
4
6
8
10
12
14
16
18
20

In [16]:
name = "sneha"
for i in name:
    if i == "h" and i == "a":
        break
    print(i,end = " ")

s n e h a

In [17]:
a = [10,30,65,29]
total = 0
for i in a:
    total +=i
print(total)

134

In [20]:
names = ['Areeba','Atif','Ali','Ayesha','Adeel','Adeel']
for i in names:
    print(i)

Areeba
Atif
Ali
Ayesha
Adeel
Adeel

In [21]:
for i, v in enumerate(names):
    print(f'{i}. {v}')

0. Areeba
1. Atif
2. Ali
3. Ayesha
4. Adeel
5. Adeel

In [23]:
items = ['pen','pencil','eraser','sharpner','scale','book','bag','bottle','lunchbox','tiffin']
for i, v in enumerate(items):
    if i == 6:
        break
    print(f'{i}. {v}')

0. pen
1. pencil
2. eraser
3. sharpner
4. scale
5. book